<ion-item id="btn_form_0" button (click)="goToForm(0);" hidden="true">{{names[0]}}</ion-item>
<ion-item id="btn_form_1" button (click)="goToForm(1);" hidden="true">{{names[1]}}</ion-item>
<ion-item id="btn_form_2" button (click)="goToForm(2);" hidden="true">{{names[2]}}</ion-item>
<ion-item id="btn_form_3" button (click)="goToForm(3);" hidden="true">{{names[3]}}</ion-item>
<ion-item id="btn_form_4" button (click)="goToForm(4);" hidden="true">{{names[4]}}</ion-item>
<ion-item id="btn_form_5" button (click)="goToForm(5);" hidden="true">{{names[5]}}</ion-item>
<ion-item id="btn_form_6" button (click)="goToForm(6);" hidden="true">{{names[6]}}</ion-item>
<ion-item id="btn_form_7" button (click)="goToForm(7);" hidden="true">{{names[7]}}</ion-item>
<ion-item id="btn_form_8"button (click)="goToForm(8);" hidden="true">{{names[8]}}</ion-item>
<ion-item id="btn_form_9" button (click)="goToForm(9);" hidden="true">{{names[9]}}</ion-item>

