<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
	<ion-buttons [hidden]="formType=='consent'" slot="start">
		<ion-button (click)="popoverFormsMenu($event)">
		<ion-icon name="menu" ></ion-icon>
		</ion-button>
	</ion-buttons>
	<ion-buttons [hidden]="formType=='consent'" slot="end">
		<ion-button (click)="popoverMenu($event)">
		<ion-icon name="menu" ></ion-icon>
		</ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid>
		<ion-row>
			<ion-col>

				<form (ngSubmit)="onSubmit()" class="form-momo" *ngIf="showForm" [formGroup]="formGroup">
				    <dynamic-material-form [group]="formGroup" [model]="formModel"></dynamic-material-form>
				    <ion-button *ngIf="showForm" [disabled]="!formGroup.valid || isSubmittingForm"  type="submit">Submit</ion-button>
				</form>

			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
